body {
    overflow: hidden;
    margin: 0;
    background: #232323;
    color: white;
    font-family: Arial;
}
h1 {
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    color: #232323;
    background: #F9EE98;
    margin: 0;
    padding: 0;
}
#left {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top:0
}
#html-wrap,
#css-wrap,
#js-wrap {
    position: relative;
    height: 33.33%;
    margin: 0;
}

#html-editor,
#css-editor,
#js-editor {
    margin: 0;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}

#right {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    top: 0;
}

#result {
    height: 60%;
    width: 100%;
    position: relative;
}

#result #titlebar {
    height: 5%;
    width: 90%;
    margin-left: 5%;
    border: 1px solid black;
    border-bottom: 0px;
    background: #777777;
    text-align: center;
    font-weight: bold;
}

#iframe-container {
    margin-left: 5%;
    height: 90%;
    width: 90%;
}

#result iframe {
    background: white;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

#share input {
    width: 50em;
}

#actions {
    margin-left: 5%;
    margin-right: 5%;
}

button {
    height: 3em;
    width: 5em;
    border-radius: 0.5em;
    margin: 0.5em;
    background: #9B859D;
    font-weight: bold;
    font-color: white;
    text-shadow: 1px  1px white,
                 1px -1px white,
                -1px  1px white, 
                -1px -1px white;
}

button#save {
    border-color: #F9EE98;
    background: #F9EE98;
}

#console {
    width: 90%;
    left: 5%;
    height: 30%;
    position: relative;
}

#console-inner {
    height: 100%;
    width: 100%;
    position: absolute;
}
#height-control {
    display: inline-block;
}
#height-control-left {
    display: inline-block;
}
